/*********************************************************************
#======[ OGOLNE OPCJE STYLU ]========================================#
*********************************************************************/
html {
	height: 100%;
}
.body-content {
    /* boczne odstêpy od krawêdzi strony */
	padding-left: 15px;
    padding-right: 15px;
}
.navbar-nav-welcome {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

/* [ tabulacje ] */
tab1 { padding-left: 4em; }
tab2 { padding-left: 8em; }
tab3 { padding-left: 12em; }
tab4 { padding-left: 16em; }
tab5 { padding-left: 20em; }
tab6 { padding-left: 24em; }
tab7 { padding-left: 28em; }
tab8 { padding-left: 32em; }
tab9 { padding-left: 36em; }
tab10 { padding-left: 40em; }
tab11 { padding-left: 44em; }
tab12 { padding-left: 48em; }
tab13 { padding-left: 52em; }
tab14 { padding-left: 56em; }
tab15 { padding-left: 60em; }
tab16 { padding-left: 64em; }

/* [ kolumny ] */
.col-lef {
	float: left;
	text-align: left;
	width: 33.33333333333333%;
	display: inline;
}
.col-cen {
	float: left;
	text-align: center;
	width: 33.33333333333333%;
	display: inline;
}
.col-rig {
	float: left;
	text-align: right;
	width: 33.33333333333333%;
	display: inline;
}

/* [ logo ] */
.logo {
	margin: 10px 0px 10px 0px;
}
.logo img {
	display: inline;
}
.logo-button {
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	vertical-align: middle;
}

/* [ œrodek ] */
#middle{
	padding: 10px;
	/* wysokoœæ stopki*/
	padding-bottom: 35px;
}

/* [ stopka ] */
#footer {
	position: fixed;
	background: #ffffff;
	bottom: 0px;
	width: 100%;
	/* wysokoœæ stopki */
	height: 65px;
}
.brd_stopka {
	vertical-align: top;
	width: 100%;
	height: 30px;
	min-width: 900px;
	background-color: #fff;
}
.stopka {
	height: 30px;
	background: url(images/stopka.jpg);
	border: 1px solid #D87136;
	padding: 5px;
}
.stopka_silver {
	color: #C0C0C0;
	font-size: 9px;
	letter-spacing: 1px;
}
/*********************************************************************
#======[ opcje g³ównej tabeli ]======================================#
*********************************************************************/

/* [ œrodek ] */
.p_start {
	text-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	min-height: 395px;
	background-color: #fff;
}
.p_center {
	text-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	min-height: 395px;
	background-color: #fff;
}

/* [ obramowanie ] */
.ground {
	color: #fff;
	font-weight: bold;
	text-align: center;
	height: 30px;
	background: url(images/title.jpg);	
}

/* [ cookies ] */
#cookiesBar {
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	color: #414141;
	font: 400 normal 11px/1em Arial, sans-serif;
	width: 100%;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: #ebebeb;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0%, #fff), color-stop(100%, #ebebeb));
	background-image: -webkit-linear-gradient(#fff, #ebebeb);
	background-image: -moz-linear-gradient(#fff, #ebebeb);
	background-image: -o-linear-gradient(#fff, #ebebeb);
	background-image: -ms-linear-gradient(#fff, #ebebeb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ebebeb);
	background-image: linear-gradient(#fff, #ebebeb);
}
#cookiesBar a {
	color: #414141;
	border-bottom: 1px dotted #aeaeae;
}
#cookiesBar a:hover {
	color: #aeaeae;
}
#cookiesBar p {
	margin: 2px 0px 2px 0px;
	line-height: 1;
}
#cookiesBarWrap {
	max-width: 700px;
	height: 28px;
	margin: 0 auto;
	position: relative;
}
#cookiesInfoWrap {
	margin: 0px 30px 0px 128px;
}
#cookiesBarLogo {
	display: block;
	background: url("../images/cookie_alert.png") no-repeat;
	width: 118px;
	height: 28px;
	padding-left: 118px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#cookiesBarClose {
	display: block;
	background: url("../images/btn-close.png") 0 0 no-repeat;
	width: 20px;
	height: 19px;
	text-indent: -999em;
	position: absolute;
	top: 2px;
	right: 0px;
}
a#cookiesBarClose {
	border: 0;
}
#cookiesBarClose:hover {
	background-position: -30px 0;
}
/*********************************************************************
#======[ opcje kart podstawowych ]============================#
*********************************************************************/

/* [ rejestracja ] */
input.i01 {
	width: 200px;
}
input.i01_date {
	width: 200px;
	text-align: left;
}

/* [ logowanie ] */
input.i02 {
	width: 180px;
}
.loginLoading {
	width: 100%;
	position: absolute;
	top: 140px;
	left: 0px;
	z-index: 100;
}

/* [ odzyskanie konta ] */
input.i03 {
	width: 240px;
}
/*********************************************************************
#======[ opcje panelu administracyjnego ]============================#
*********************************************************************/

/* [ lista kont na Facebook-u ] */
table#account-list-body {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#account-list-body td {
	text-align: center;
	vertical-align: middle;
}
#account-number td {
	padding: 5px 5px 5px 5px;
	text-align: center;
	vertical-align: middle;
}
table#account-drop-down-list {
	width: 100%;
}
#account-drop-down-list td {
	padding: 0px 20px 0px 0px;
	text-align: right;
	vertical-align: middle;
}
table#account-list {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#account-list th {
	padding: 5px 10px 5px 10px;
	text-align: left;
	vertical-align: middle;
}
#account-list td {
	padding: 5px 10px 5px 10px;
	text-align: left;
	vertical-align: middle;
}
table#account-list caption {
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #6cd900;
	padding: 5px 0px 0px 0px;
	text-align: center;
	vertical-align: middle;
}
table#account-list th {
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #6cd900;
}
table#account-list tr:nth-child(even) {
	background-color: #4ca6ff;
}
table#account-list tr:nth-child(odd) {
	background-color: #99ccff;
}
table#account-empty-list {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#account-empty-list td {
	font-size: 19px;
	font-weight: bold;
	color: black;
	background-color: #ff4000;
	padding: 200px 10px 200px 10px;
	text-align: center;
	vertical-align: middle;
}

/* [ kont na Facebook-u - zdjêcie ] */
div.account-picture {
	width: 100%;
}

/* [ generator kont na Facebook-u ] */
.register_account_loading {
	width: 100%;
	position: absolute;
	top: 140px;
	left: 0px;
	z-index: 100;
}

/* [ lista zdjêæ na Facebook-u ] */
table#photo-list-body {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#photo-list-body td {
	text-align: center;
	vertical-align: middle;
}
#photo-number td {
	padding: 5px 5px 5px 5px;
	text-align: center;
	vertical-align: middle;
}
table#photo-drop-down-list {
	width: 100%;
}
#photo-drop-down-list td {
	padding: 0px 20px 0px 0px;
	text-align: right;
	vertical-align: middle;
}
table#photo-list {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#photo-list th {
	padding: 5px 10px 5px 10px;
	text-align: left;
	vertical-align: middle;
}
#photo-list td {
	padding: 5px 10px 5px 10px;
	text-align: left;
	vertical-align: middle;
}
table#photo-list caption {
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #6cd900;
	padding: 5px 0px 0px 0px;
	text-align: center;
	vertical-align: middle;
}
table#photo-list th {
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #6cd900;
}
table#photo-list tr:nth-child(even) {
	background-color: #4ca6ff;
}
table#photo-list tr:nth-child(odd) {
	background-color: #99ccff;
}
table#photo-empty-list {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#photo-empty-list td {
	font-size: 19px;
	font-weight: bold;
	color: black;
	background-color: #ff4000;
	padding: 200px 10px 200px 10px;
	text-align: center;
	vertical-align: middle;
}

/* [ dodawanie zdjêæ na Facebook-u ] */
.form-add_photo_field {
	border: 1px solid #abadb3;
	color: #000000;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding: 2px;
	width: 280px;
}
.add_photo_loading {
	width: 100%;
	position: absolute;
	top: 140px;
	left: 0px;
	z-index: 100;
}

/* [ mapa google ] */
div.map {
	width: 100%;
	height: 600px;
}

/* [ test bramki sms ] */
div#znaki-wiadomosc {
	background-color: #ffffff;
	color: #000000;
	padding: 0px 10px 0px 0px;
	text-align: right;
	vertical-align: middle;
}
.received-table_message td {
	font-size: 14px;
	font-family: helvetica;
	padding: 0px 0px 0px 15px;
	text-align: left;
	vertical-align: top;
}
.received-table_message td:first-child {
	padding: 0px 0px 0px 0px;
}
.form-send_message_field {
	border: 1px solid #abadb3;
	color: #000000;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding: 2px;
	width: 384px;
}
.submit-send_message_button {
	border: 1px solid #891919;
	background: #b63c3c;
	background: -webkit-gradient(linear, left top, left bottom, from(#c66c6c), to(#b63c3c));
	background: -webkit-linear-gradient(top, #c66c6c, #b63c3c);
	background: -moz-linear-gradient(top, #c66c6c, #b63c3c);
	background: -ms-linear-gradient(top, #c66c6c, #b63c3c);
	background: -o-linear-gradient(top, #c66c6c, #b63c3c);
	background-image: -ms-linear-gradient(top, #c66c6c 0%, #b63c3c 100%);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #e19393 0 1px 0;
	color: #4f0101;
	font-family: helvetica, serif;
	padding: 10px 50px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
.submit-send_message_button:visited {
	color: #4f0101;
}
.submit-send_message_button:hover {
	border: 1px solid #891919;
	text-shadow: #680f0f 0 1px 0;
	background: #b63c3c;
	background: -webkit-gradient(linear, left top, left bottom, from(#c66c6c), to(#b63c3c));
	background: -webkit-linear-gradient(top, #c66c6c, #b63c3c);
	background: -moz-linear-gradient(top, #c66c6c, #b63c3c);
	background: -ms-linear-gradient(top, #c66c6c, #b63c3c);
	background: -o-linear-gradient(top, #c66c6c, #b63c3c);
	background-image: -ms-linear-gradient(top, #c66c6c 0%, #b63c3c 100%);
	color: #fff;
}
.submit-send_message_button:active {
	text-shadow: #680f0f 0 1px 0;
	border: 1px solid #891919;
	background: #c66c6c;
	background: -webkit-gradient(linear, left top, left bottom, from(#b63c3c), to(#b63c3c));
	background: -webkit-linear-gradient(top, #b63c3c, #c66c6c);
	background: -moz-linear-gradient(top, #b63c3c, #c66c6c);
	background: -ms-linear-gradient(top, #b63c3c, #c66c6c);
	background: -o-linear-gradient(top, #b63c3c, #c66c6c);
	background-image: -ms-linear-gradient(top, #b63c3c 0%, #c66c6c 100%);
	color: #fff;
}

/* [ zaawansowana edycja bazy danych ] */
.received-table_password th {
	padding: 0px 0px 10px 30px;
	text-align: left;
	vertical-align: middle;
}
.received-table_password td {
	padding: 0px 0px 0px 30px;
	text-align: left;
	vertical-align: middle;
}
.received-table_password th:first-child {
	padding: 0px 0px 10px 0px;
}
.received-table_password td:first-child {
	padding: 0px 0px 0px 0px;
}
.submit-generate_password_button {
	border: 1px solid #891919;
	background: #b63c3c;
	background: -webkit-gradient(linear, left top, left bottom, from(#c66c6c), to(#b63c3c));
	background: -webkit-linear-gradient(top, #c66c6c, #b63c3c);
	background: -moz-linear-gradient(top, #c66c6c, #b63c3c);
	background: -ms-linear-gradient(top, #c66c6c, #b63c3c);
	background: -o-linear-gradient(top, #c66c6c, #b63c3c);
	background-image: -ms-linear-gradient(top, #c66c6c 0%, #b63c3c 100%);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #e19393 0 1px 0;
	color: #4f0101;
	font-family: helvetica, serif;
	padding: 4px 30px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
.submit-generate_password_button:visited {
	color: #4f0101;
}
.submit-generate_password_button:hover {
	border: 1px solid #891919;
	text-shadow: #680f0f 0 1px 0;
	background: #b63c3c;
	background: -webkit-gradient(linear, left top, left bottom, from(#c66c6c), to(#b63c3c));
	background: -webkit-linear-gradient(top, #c66c6c, #b63c3c);
	background: -moz-linear-gradient(top, #c66c6c, #b63c3c);
	background: -ms-linear-gradient(top, #c66c6c, #b63c3c);
	background: -o-linear-gradient(top, #c66c6c, #b63c3c);
	background-image: -ms-linear-gradient(top, #c66c6c 0%, #b63c3c 100%);
	color: #fff;
}
.submit-generate_password_button:active {
	text-shadow: #680f0f 0 1px 0;
	border: 1px solid #891919;
	background: #c66c6c;
	background: -webkit-gradient(linear, left top, left bottom, from(#b63c3c), to(#b63c3c));
	background: -webkit-linear-gradient(top, #b63c3c, #c66c6c);
	background: -moz-linear-gradient(top, #b63c3c, #c66c6c);
	background: -ms-linear-gradient(top, #b63c3c, #c66c6c);
	background: -o-linear-gradient(top, #b63c3c, #c66c6c);
	background-image: -ms-linear-gradient(top, #b63c3c 0%, #c66c6c 100%);
	color: #fff;
}

/* [ ustawienia administratora ] */
div.status {
	width: 98%;
	margin: 0px 10px 0px 10px;
	padding: 2px 5px 2px 5px;
	text-align: left;
	display: none;
}
td.status {
	text-align: left;
}
.submit-save_admin_settings_button {
	border: 1px solid #891919;
	background: #b63c3c;
	background: -webkit-gradient(linear, left top, left bottom, from(#c66c6c), to(#b63c3c));
	background: -webkit-linear-gradient(top, #c66c6c, #b63c3c);
	background: -moz-linear-gradient(top, #c66c6c, #b63c3c);
	background: -ms-linear-gradient(top, #c66c6c, #b63c3c);
	background: -o-linear-gradient(top, #c66c6c, #b63c3c);
	background-image: -ms-linear-gradient(top, #c66c6c 0%, #b63c3c 100%);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #e19393 0 1px 0;
	color: #4f0101;
	font-family: helvetica, serif;
	padding: 10px 50px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
.submit-save_admin_settings_button:visited {
	color: #4f0101;
}
.submit-save_admin_settings_button:hover {
	border: 1px solid #891919;
	text-shadow: #680f0f 0 1px 0;
	background: #b63c3c;
	background: -webkit-gradient(linear, left top, left bottom, from(#c66c6c), to(#b63c3c));
	background: -webkit-linear-gradient(top, #c66c6c, #b63c3c);
	background: -moz-linear-gradient(top, #c66c6c, #b63c3c);
	background: -ms-linear-gradient(top, #c66c6c, #b63c3c);
	background: -o-linear-gradient(top, #c66c6c, #b63c3c);
	background-image: -ms-linear-gradient(top, #c66c6c 0%, #b63c3c 100%);
	color: #fff;
}
.submit-save_admin_settings_button:active {
	text-shadow: #680f0f 0 1px 0;
	border: 1px solid #891919;
	background: #c66c6c;
	background: -webkit-gradient(linear, left top, left bottom, from(#b63c3c), to(#b63c3c));
	background: -webkit-linear-gradient(top, #b63c3c, #c66c6c);
	background: -moz-linear-gradient(top, #b63c3c, #c66c6c);
	background: -ms-linear-gradient(top, #b63c3c, #c66c6c);
	background: -o-linear-gradient(top, #b63c3c, #c66c6c);
	background-image: -ms-linear-gradient(top, #b63c3c 0%, #c66c6c 100%);
	color: #fff;
}

/* [ lista u¿ytkowników ] */
table#user-list-body {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#user-list-body td {
	text-align: center;
	vertical-align: middle;
}
#user-number td {
	padding: 5px 5px 5px 5px;
	text-align: center;
	vertical-align: middle;
}
table#user-drop-down-list {
	width: 100%;
}
#user-drop-down-list td {
	padding: 0px 20px 0px 0px;
	text-align: right;
	vertical-align: middle;
}
table#user-list {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#user-list th {
	padding: 5px 10px 5px 10px;
	text-align: left;
	vertical-align: middle;
}
#user-list td {
	padding: 5px 10px 5px 10px;
	text-align: left;
	vertical-align: middle;
}
table#user-list caption {
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #6cd900;
	padding: 5px 0px 0px 0px;
	text-align: center;
	vertical-align: middle;
}
table#user-list th {
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #6cd900;
}
table#user-list tr:nth-child(even) {
	background-color: #4ca6ff;
}
table#user-list tr:nth-child(odd) {
	background-color: #99ccff;
}
table#user-empty-list {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#user-empty-list td {
	font-size: 19px;
	font-weight: bold;
	color: black;
	background-color: #ff4000;
	padding: 200px 10px 200px 10px;
	text-align: center;
	vertical-align: middle;
}

/* [ profil u¿ytkownika ] */
#profil-info {
	color: black;
}
#profil-tab {
	padding: 0px 0px 0px 40px;
}
table#t07 {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#t07 td {
	width: 25%;
	padding: 5px 10px 5px 10px;
	vertical-align: middle;
}
table#t07 caption {
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #6cd900;
	padding: 5px 0px 0px 0px;
	text-align: center;
	vertical-align: middle;
}
table#t07 td:nth-child(odd) {
	background-color: #4ca6ff;
	text-align: right;
}
table#t07 td:nth-child(even) {
	background-color: #99ccff;
	text-align: left;
}
table#t08 {
	width: 98%;
	margin: 0px 10px 0px 10px;
}
#t08 td {
	width: 50%;
	padding: 0px 0px 0px 0px;
	vertical-align: top;
}
table#t08 caption {
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #6cd900;
	padding: 5px 0px 0px 0px;
	text-align: center;
	vertical-align: middle;
}
table#t09 {
	width: 100%;
	height: 420px;
	margin: 0px 0px 0px 0px;
}
#t09 td {
	width: 50%;
	height: 100%;
	padding: 5px 10px 5px 10px;
	vertical-align: middle;
}
table#t09 td:nth-child(odd) {
	background-color: #4ca6ff;
	height: 100%;
	text-align: right;
}
table#t09 td:nth-child(even) {
	background-color: #99ccff;
	height: 100%;
	text-align: left;
}
table#t10 {
	width: 100%;
	height: 420px;
	margin: 0px 0px 0px 0px;
}
#t10 td {
	width: 50%;
	height: 100%;
	padding: 2px 10px 2px 10px;
	vertical-align: middle;
}
table#t10 td:nth-child(odd) {
	background-color: #4ca6ff;
	height: 100%;
	text-align: left;
}
table#t10 td:nth-child(even) {
	background-color: #99ccff;
	height: 100%;
	text-align: left;
}
#tp01 td:nth-child(odd) {
	padding: 0px 0px 0px 40px;
}
#tp02 td:nth-child(odd) {
	padding: 0px 0px 0px 80px;
}

/* [ przycisk edytuj ] */
.submit-edit_button {
	border: 1px solid #0a3c59;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
	background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
	background: -moz-linear-gradient(top, #65a9d7, #3e779d);
	background: -ms-linear-gradient(top, #65a9d7, #3e779d);
	background: -o-linear-gradient(top, #65a9d7, #3e779d);
	background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
	padding: 11.5px 23px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #7ea4bd 0 1px 0;
	color: #06426c;
	font-size: 16px;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
}
.submit-edit_button:hover {
	border: 1px solid #0a3c59;
	text-shadow: #1e4158 0 1px 0;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
	background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
	background: -moz-linear-gradient(top, #65a9d7, #3e779d);
	background: -ms-linear-gradient(top, #65a9d7, #3e779d);
	background: -o-linear-gradient(top, #65a9d7, #3e779d);
	background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
	color: #fff;
}
.submit-edit_button:active {
	text-shadow: #1e4158 0 1px 0;
	border: 1px solid #0a3c59;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
	color: #fff;
}

/* [ konta u¿ytkowników ] */
.form-add_account_field {
	border: 1px solid #abadb3;
	color: #000000;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding: 2px;
	width: 280px;
}

/* [ styl ogólnego u¿ycia ] */
.form-required {
	color: #FF0000;
}
/*********************************************************************
#======[ opcje information boxes ]===================================#
*********************************************************************/

.information {
	margin-bottom: 0mm;
	margin-top: 0mm;
	margin-left: 0mm;
	margin-right: 1mm;
}
.information-success {
    border: 1px solid #060;
    width: 500px;
    margin: 5px;
	padding: 2px;
    color: black;
	background: #CF9;
    font-weight: bold;
}
.information-error {
    border: 1px solid #c00;
    width: 500px;
    margin: 5px;
	padding: 2px;
    color: black;
	background: #f88;
    font-weight: bold;
}
/*********************************************************************
#======[ opcje message boxes ]=======================================#
*********************************************************************/

.info-box, .success-box, .warning-box, .error-box, .validation_success-box, .validation_warning-box, .validation_error-box {
	border: 1px solid;
	margin: 56px 0px 49px 0px;
	padding: 20px 20px 20px 20px;
	position: fixed;
	bottom: 20px;
    left: 20px;
	z-index: 1;
	background: #ebebeb;
	background-repeat: no-repeat;
	background-position: 10px center;
	font: normal 100% Helvetica, Arial, sans-serif;
	min-height: 50px;
}
.info-box {
	color: #00529B;
	background:#BDE5F8 url(../images/icons/png/info.png) top left no-repeat;
	background-position: 10px 10px;
}
.success-box {
	color: #4F8A10;
	background:#DFF2BF url(../images/icons/png/success.png) top left no-repeat;
	background-position: 10px 10px;
}
.warning-box {
	color: #9F6000;
	background:#FEEFB3 url(../images/icons/png/warning.png) top left no-repeat;
	background-position: 10px 10px;
}
.error-box {
	color: #D8000C;
	background:#FFBABA url(../images/icons/png/error.png) top left no-repeat;
	background-position: 10px 10px;
}
.validation_success-box {
    color: #4F8A10;
    background: #DFF2BF url(../images/icons/png/success.png) top left no-repeat;
	background-position: 10px 50%;
}
.validation_warning-box {
    color: #6B3700;
    background: #FFCC99 url(../images/icons/png/warning.png) top left no-repeat;
	background-position: 10px 50%;
}
.validation_error-box {
    color: #D63301;
    background: #FFCCBA url(../images/icons/png/error.png) top left no-repeat;
	background-position: 10px 50%;
}
.error-show {
}
/*********************************************************************
#======[ opcje mail boxes ]==========================================#
*********************************************************************/
.mailBar {
	font: 400 normal 12px/1.5em Arial, sans-serif;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: #ebebeb;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0%, #fff), color-stop(100%, #ebebeb));
	background-image: -webkit-linear-gradient(#fff, #ebebeb);
	background-image: -moz-linear-gradient(#fff, #ebebeb);
	background-image: -o-linear-gradient(#fff, #ebebeb);
	background-image: -ms-linear-gradient(#fff, #ebebeb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ebebeb);
	background-image: linear-gradient(#fff, #ebebeb);
}
.mailBar a {
	color: #414141;
	border-bottom: 1px dotted #aeaeae;
}
.mailBar a:hover {
	color: #aeaeae;
}
.mailBar p {
	margin: 2px 0px 2px 0px;
	line-height: 1;
}
.mailBarWrap {
	height: 250px;
	margin: 0px 0px 0px 40px;
	padding: 0px 0px 0px 0px;
}
.mailBarWrap img {
	border: 0;
	border-style: none;
	border-radius: 15px;
}
#mailBarLogo {
	background-image: url("facelike_logo.jpg");
	background-repeat: no-repeat;
	width: 592px;
	height: 247px;
}
.mailBarH2 {
	color: #ff6805;
	font-size: 18px;
}
.mailJumbotron {
	padding: 23px;
	margin-bottom: 0px;
	border-radius: 20px;
}

/*********************************************************************
#======[ opcje ró¿ne ]===============================================#
*********************************************************************/

/* [ ustawienia okr¹g³ego obramowania ] */
.jumbotron {
	padding: 30px;
	margin-bottom: 20px;
	font-weight: 200;
	color: inherit;
	background-color: #eeeeee;
}
.jumbotron p {
	line-height: 1.3;
	color: inherit;
	padding: 0px 0px 0px 0px;
	text-align: left;
	display: inline;
}
.name_1 {
	font-size: 50px;
	margin: 0px 0px 0px 0px;
}
.name_2 {
	font-family: Helvetica, cursive;
	font-size: 25px;
	margin: 0px 0px 0px 50px;
}
.container .jumbotron {
	border-radius: 20px;
}
@media screen and (min-width: 768px) {
	.jumbotron {
		padding-top: 15px;
		padding-bottom: 25px;
	}
	.container .jumbotron {
		padding-right: 60px;
		padding-left: 60px;
	}
	.jumbotron h1 {
		font-size: 63px;
	}
}
/*********************************************************************
#======[ koniec ]====================================================#
*********************************************************************/